body {
  background-color: #00cc99;
  color: white;
}

.btn {
  background-color: transparent;
  color: white;
}

.intro h1 {
  padding-top: 100px;
  padding-bottom: 20px;
}

#survey h3 {
  padding-bottom: 10px;
}

#survey {
  padding-top: 70px;
  display: none;
}

#hawaii, #italy, #brazil, #europe_backpack, #netflix {
  text-align: center;
  margin-top: 100px;
  display: none;
}

.btn {
  margin-top: 15px;
}

img {
  margin-top: 30px;
}
