body {
  background-color: #66a3ff;
  color: white;
}

.btn {
  background-color: transparent;
  color: white;
}

.intro h1 {
  padding-top: 100px;
  padding-bottom: 20px;
}

#survey {
  padding-top: 100px;
  display: none;
}

#answer1, #answer2, #answer3, #answer4, #answer5 {
  text-align: center;
  margin-top: 100px;
  display: none;
}

.btn {
  margin-top: 20px;
}

img {
  margin-top: 30px;
}
